<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    
    <main>
        <h1>Message form</h1>
        <section>
            <form action="/new" method="post">
                <fieldset>
                    <legend>Message</legend>
                    <label>
                        <span>Name:</span>
                        <input type="text" name="user">
                    </label>

                    <label>
                        <span>Message:</span>
                        <textarea name="message" cols="30" rows="10"></textarea>
                    </label>

                    <button type="submit">Post</button>
                </fieldset>
            </form>
        </section>
    </main>
</body>
</html>